<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>集成ffmpeg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9195174F1D0A7C64008075B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9195176B1D0A7C65008075B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>919517761D0A7C65008075B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
